@import "../../../../../assets/styles/colors.scss";

nav {
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  & a {
    background-color: $basic-color;
    color: $white-color;
    text-decoration: none;
    width: 115px;
    text-align: center;
    transition: 0.5s all;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;

    &:hover {
      transform: scale(1.02);
    }
  }
}

@media only screen and (min-width: 700px) {
  nav {
    margin: 40px auto;
    justify-content: flex-start;

    .user {
      position: relative;
      top: 0px;
      right: 0px;

      margin-left: auto;
      margin-right: 50px;
    }
  }
}
