h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}

div {
  display: grid;
  max-width: 1300px;
  margin: 0 auto 100px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
}
