@import "../../../../../assets/styles/colors.scss";

div {
  display: flex;
  justify-content: flex-end;
  margin: 0 10px;

  & .create-btn {
    position: relative;
    top: 28px;
    width: 100px;
    text-align: center;
    transition: 0.5s all ease-in-out;

    &:hover {
      transform: scale(1.02);
      background-color: $secondary-color;
      color: $black-color;
    }
  }
}

@media screen and (min-width: 700px) {
  div {
    & .create-btn {
      min-width: 150px;
    }
  }
}

@media screen and (min-width: 1000px) {
  div {
    max-width: 1400px;
    margin: 0 auto;
    & .create-btn {
      top: 0px;
      margin-bottom: 15px;
      margin-right: 25px;
      font-size: 1.25rem;
    }
  }
}
